@model IEnumerable<Hospital_Management_System.Models.BusinessLayer.Doctor>
@using Hospital_Management_System.Models.BusinessLayer
@{
	ViewData["Title"] = "Get Doctors Speciality Details";
}

<h1>Show All Doctors Speci</h1>



<table border="1">
    <tr>
        <th>Id</th>
        <th>Doctor Name</th>
        <th>Speciality</th>

    </tr>
    @foreach (var d in Model)
    {
        <tr>
            <td>@d.DoctorID</td>
            <td>@d.DoctorName</td>
            <td>@d.Speciality</td>
        </tr>
    }
</table>